<div class="jumbotron">
    <h1>SNZY</h1>
    <p class="lead">SNZY is the newest way for beginner investors to reference information on stocks and ETFs! We display basic information for the user, so that they can make informed decisions on investing!</p>
    <p><a href="https://github.com/ColinLittleSD/SNZY" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> 
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Khaled Omar</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://github.com/khaledomar4797">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Colin Little</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://github.com/ColinLittleSD">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Max Sigmon</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://github.com/maxjsigmon">Learn more &raquo;</a></p>
    </div>
</div>
