<div class="jumbotron">
    <h1>SNZY</h1>
    <p class="lead">SNZY is the newest way for beginner investors to reference information on stocks and ETFs! We display basic information for the user, so that they can make informed decisions on investing!</p>
    <p><a href="https://github.com/ColinLittleSD/SNZY" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> 
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class=""</a></p>
    </div>
    <div class="col-md-4">
        <h2</h2>
        <p</p>
        <p><a class=""</a></p>
    </div>
    <div class="col-md-4">
        <h2</h2>
        <p></p>
        <p><a class=""</a></p>
    </div>
</div>
